---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components"

export const prerender = true;
export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"blog">[] =
    await getCollection("blog");
  return allBlogArticles.map((entry) => ({
    params: {
      slug: entry.slug,
    },

    props: { entry },
  }));
}

let { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout>
  <a href="/blog" class="flex items-center">
  <Icon name="back" class="text-xl font-extrabold"/>
  <h3 class="font-semibold text-white font-lato ml-2">Back</h3>
  </a>
  <!-- <Content/> -->

  <main class="blog-content text-white font-lato">
    <div class="my-6">
      <h1 class="!text-3xl !font-medium font-souvenir !mb-4">{entry.data.title}</h1>
      <h6 class="text-xs lg:text-sm text-neutral-500 mt-3">
        {entry.data.pubDate.toLocaleString("en-US", { dateStyle: "long" })}
      </h6>
    </div>
    <Content />
  </main>
</MainLayout>

<style is:global>
.blog-content a {
	color: white;
}
.blog-content a:hover {
	text-decoration: underline;
}
.blog-content h1 {
	@apply text-3xl font-bold font-souvenir mt-8 -mb-2;
    color: white;
}
.blog-content h2 {
	@apply text-xl text-neutral-200 font-bold font-souvenir mt-4 -mb-2;
    color: white;
}
.blog-content p {
	margin: 1rem 0;
	font-size: .95rem;
    color: white;
}
.blog-content p > code {
	padding: 0.15rem 0.4rem;
	font-family: "Lato", sans-serif;
	@apply text-blue-400 bg-blue-400/10 text-xs font-semibold rounded-sm border border-blue-500;
}
.blog-content pre {
	background-color: var(--secondary-dark) !important;
	padding: 1.25rem;
	font-size: 0.85rem;
	font-family: "Lato", sans-serif;
    color: white;
	overflow-x: auto;
}
.blog-content blockquote {
	@apply bg-blue-500 bg-opacity-10 border-l-2 border-blue-500 px-4 py-2.5 my-4;
}
.blog-content blockquote p {
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-size: 0.88rem;
    color: white;
	line-height: 1.9;
	margin: 0;
	@apply text-blue-500;
}

.font-souvenir {
    font-family: "Lato", sans-serif !important;
}
</style>
