---

import type { CollectionEntry } from "astro:content"
import { formatDate } from "../../utils"
const {article} = Astro.props

interface Props {
    article  : CollectionEntry<"blog">,

}

---

<a href={"/blog/" + article?.slug} class="border-b-2 py-2 border-gray-600">
    <div class="flex justify-between items-center border-b-2 py-2 border-gray-800">
      <h2 class="text-gray-200 font-satoshi text-[13px] font-extrabold mr-10 w-96">
        {article?.data.title}
      </h2>
      <h2 class="text-gray-400 font-satoshi text-[11px] font-extrabold w-24">
        {formatDate(article?.data.pubDate.toLocaleString("en-US", { dateStyle: "short" }))}
      </h2>
    </div>
  </a>


