---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../../utils"
import BlogCard from "./blogCard.astro";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());


---

<MainLayout>
  <div class="mt-8 h-[80%]">
    <h2 class="text-white font-lato font-bold mb-4">Recent Posts:</h2>
    {
      allBlogArticles.map((article) => (
        <BlogCard article={article} />
      
      ))
    }
  </div>
</MainLayout>
