---
const projects = [
  {
    name: "IssueIQ(coming soon)",
    description: "Create chatbots easily with human escalation",
    url: "https://iqs.vercel.app/",
    github_url: null,
    image: "issueiq.png",
  },
  {
    name: "Dropit",
    description: "Share files and contents seamlessly",
    url: "https://usedropit.ikotun.xyz/",
    github_url: null,
    image: "Dropit.jpg",
  },
  {
    name: "Openaiflow",
    description: "Interact with openai API in 5 lines of code",
    url: "https://pypi.org/project/openaiflow/",
    github_url: null,
    image: "openaiflow.png",
  },
  {
    name: "Larchive",
    description: "Quick archive for your links",
    url: "https://larchive-app.vercel.app/",
    github_url: "https://github.com/ikotun-dev/larchive",
    image: "larchive.jpeg",
  },
  {
    name: "Gitly",
    description: "View all your git repositories in one place",
    url: "https://qsui.vercel.app/",
    github_url: null,
    image: "gitly.jpg",
  },
  {
    name: "Portshield",
    description: "View and close running ports from CLI",
    url: null,
    github_url: null,
    image: "portshield.png",
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto px-4">
  {projects.map((project) => (
    <a 
      href={project.url || '#'} 
      target="_blank"
      class="block"
    >
      <div class="bg-zinc-900/50 rounded-lg overflow-hidden hover:bg-zinc-800/50 transition-colors">
        <div class="aspect-video">
          <img
            src={`/images/projects/${project.image}`}
            alt={project.name}
            class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
          />
        </div>
        <div class="p-4">
          <h3 class="font-extrabold text-zinc-300 text-sm mb-2">
            {project.name}
          </h3>
          <p class="text-zinc-400 text-sm">
            {project.description}
          </p>
        </div>
      </div>
    </a>
  ))}
</div>
