---
import MainLayout from "../../layouts/MainLayout.astro";
import Description from "./Description.astro";
import Projects from ".././Projects.astro";
---

<MainLayout>
  <div class="flex flex-col justify-center">
    <Description />    
    <Projects/>
  </div>
</MainLayout>
