---
import MainLayout from "./layouts/MainLayout.astro";
---

<MainLayout>
<div class="flex justify-center items-center">
    <h3 class="text-[6rem] font-lato text-white">404</h3>
    <h3 class="text-[6rem] font-lato text-white">This page doesn't exist</h3>

</div>

</MainLayout>