---
import Nav from "../pages/Nav.astro";
import Footer from "../pages/HomePage/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/back.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italianno&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coming+Soon&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta property="og:title" content="Ikotun!" />
    <meta property="og:description" content="Ikotun Collins" />
    <meta property="og:image"
      content="https://res.cloudinary.com/dbd7rcwwx/image/upload/v1709992162/Screenshot_2024-03-09_at_2.48.08_PM_mngldt.png" />
      <meta property="twitter:image" content="https://res.cloudinary.com/dbd7rcwwx/image/upload/v1709992162/Screenshot_2024-03-09_at_2.48.08_PM_mngldt.png">

  
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body class="bg-zinc-900 min-h-screen pt-20 px-8 lg:px-72 md:px-24">
    <Nav />

    <slot />

    <Footer />
  </body>
</html>


