---
import Nav from "../pages/Nav.astro";
import Footer from "../pages/HomePage/Footer.astro";



---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/back.svg" />

    <link rel="preload"  href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401&display=swap" as="style">

    <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </noscript>
  
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italianno&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italianno&display=swap"
      rel="stylesheet"
    />
  </noscript>
  
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coming+Soon&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coming+Soon&display=swap"
      rel="stylesheet"
    />
  </noscript>
  
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </noscript>
    
    <meta property="og:title" content="Ikotun!" />
    <meta property="og:description" content="Ikotun Collins" />
    <meta property="og:image"
      content="https://res.cloudinary.com/dbd7rcwwx/image/upload/v1709992162/Screenshot_2024-03-09_at_2.48.08_PM_mngldt.png" />
      <meta property="twitter:image" content="https://res.cloudinary.com/dbd7rcwwx/image/upload/v1709992162/Screenshot_2024-03-09_at_2.48.08_PM_mngldt.png">
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Ikotun</title>



  </head>

  <body class="bg-black min-h-screen pt-20 px-8 lg:px-72 md:px-24">

    <!-- <div style="position: fixed; z-index: 2147483647; pointer-events: none"> -->
    <!--   <issueiq-bubble -->
    <!--     chatbot-id="0dfe2746-4ae8-4796-ae02-87cf3757a748" -->
    <!--     sender-text-color="#000000" -->
    <!--     bot-text-color="#E5E7EB"  -->
    <!--     style="pointer-events: auto" -->
    <!--   ></issueiq-bubble> -->
    <!-- </div> -->
    <!-- <script -->
    <!--   defer -->
    <!--   src="https://cdn.jsdelivr.net/npm/issueiq@0.2.2/dist/loader.js" -->
    <!-- ></script> -->
    <!---->

    <Nav />

    <slot />
    <Footer />
  </body>
</html>


