<div class="my-10">
    <h3 class="font-lato font-bold   mb-2 text-zinc-400">About Me - <span class="text-blue-500 text-lg">Ikotun Collins</span></h3>

    <div class="border-l-4 border-blue-950 w-full lg:w-[80%] md:w-[80%] pl-3">
      <p class="font-lato text-zinc-300 text-sm md:text-sm lg:text-[15px]">
        I'm a software engineering student from West Africa. I'm currently an undergraduate student at <span class="font-bold">Babcock University</span> pursuing a Bachelors degree in Software Engineering.
        In the classroom, I'm delving deep into the theoretical foundations of software engineering, exploring software architectures, designs, and other intricacies. As I navigate the corridors of academia, I'm not just a student; I'm a coding enthusiast, a problem solver, and a tech explorer eager to make a mark in the world of software engineering.
      </p>
    </div>

  </div>
