<div class="my-10">
    <div class="flex items-center my-2">
      <h3 class="font-satoshi font-bold mr-2  text-zinc-400">Contact Me </h3>      </div>
    <div class="text-[15px] text-gray-100 w-full lg:w-[80%] md:w-[80%] border-l-4 border-blue-950 pl-3">
      <div class="flex items-center my-2">

        <a href="danlogan2003@gmail.com" class="font-satoshi  mr-2 text-zinc-300">ikotun.collins@gmail.com</a><span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-plus" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5" />
          <path d="M16 19h6" />
          <path d="M19 16v6" />
          <path d="M3 7l9 6l9 -6" />
        </svg></span>
      </div>
  
      <div class="flex items-center my-2">

        <a href="danlogan2003@gmail.com" class="font-satoshi mr-2  text-zinc-300">+2349020829000</a>
        <span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-outgoing" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
          <path d="M15 9l5 -5" />
          <path d="M16 4l4 0l0 4" />
        </svg></span>
      </div>


      <p class="font-neue text-zinc-300">

      </p>
    </div>

  </div>
